<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Kyle Swarner Dot Com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="pagetitle">
                <h1>Kyle Swarner Dot Com</h1>
                <h2>Hi, My name is </h2> 
                <h2 class="bluetext">Kyle Swarner</h2>
                <br/><br/>
                <p>I'm a software developer and website designer</p>
            </div>
        </div>
    </header>
    
    <section>
        <div class="content-wrapper">
            <% if flash[:notice] %>
                <p class="flash notice"><%= flash[:notice] %></p>
            <% end %>
            <% if flash[:error] %>
                <p class="flash error"><%= flash[:error] %></p>
            <% end %>
            <nav>
                <a href="#">About Me</a>
                <a href="#">Skills</a>
            </nav>
            <div class="pane navpanes">
                <div>
                    <h3>All About Kyle</h3>
                    <p>I'm a software developer during the day, and a web designer in my spare time. If you've got a cool idea, let me know! I love to work on new, interesting, and challenging projects, and every line of code I write is written with this quote in mind:</p>
                    <p></p>
                    <p class="quote">"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live." -Martin Golding</p>
                </div>
                <div>
                    <h3>Skills</h3>
                    <p>Below is just a snippet of what I love to do. If you want my complete resume, send me an email and I'd love to send it to you!</p>
                    <p>When it comes to software development, I primarily work with C++, Java, and Ruby, although I know too many other languages to actually list here. In my spare time, I'm also an avid Android developer!</p>
                    <p>On the web development side, I love writing code from scratch in html, css, and javascript. I have experience in developing front-end websites as well as backend databases, and I know how to make them interact seamlessly.</p>
                </div>
            </div>
            <div class="pane contact">
                <div>
                    <h3>Get in Touch</h3>
                    <p>Want to get in touch? Use the form below to shoot me an email. If forms scare you, feel free to send an email directly to KyleDSwarner (AT) gmail.com. Thanks!
                    <%= form_tag({:controller => "navbar", :action => "submitform"}) do %>
                        <%= label_tag(:name, "Your Name:") %>
                        <%= text_field(:submitter, :name) %>
                        <%= label_tag(:email, "Email:") %>
                        <%= email_field(:submitter, :email) %>
                        <%= label_tag(:phone, "Phone Number (optional):") %>
                        <%= telephone_field(:submitter, :phone) %>
                        <%= label_tag(:message, "Message:") %>
                        <%= text_area_tag(:message, "", :size => "24x6") %>
                        <%= submit_tag("Send It!") %>
                    <% end %>
                    <p class="footer">Page &copy; Kyle Swarner 2011</p>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <br/>
            <p>Like this page? Check out the code on my <a href="https://github.com/KyleDSwarner/KyleSwarner.com" class="bluetext">GitHub Profile</a>.</p>
            <p>&copy; Kyle Swarner 2011</p>
        </div>
    </footer>
    
    <script>
        $(function() {
            $("nav").tabs("div.navpanes > div");
            
            $(".content-wrapper").height(function() {
                var navheight = $("nav").height();
                var contentheight = $(".navcontent").height();
                var contactheight = $(".contact").height();
                
                if(contentheight > contactheight) {
                    return navheight + contentheight;
                }
                else return navheight + contactheight;
            });
        });
    </script> 
    
</body>
</html>


