<!DOCTYPE html>
<html>
<head>
  <title>Kyle Swarner Dot Com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="pagetitle">
                <h1>Kyle Swarner Dot Com</h1>
                <h2>Hi, My name is </h2> 
                <h2 class="bluetext">Kyle Swarner</h2>
                <br/><br/>
                <p>I'm a software developer and website designer</p>
            </div>
        </div>
    </header>
    
    <section>
        <div class="content-wrapper">
            <nav>
                <a href="#">About Me</a>
                <a href="#">Resume</a>
            </nav>
            <div class="pane navpanes">
                <div>
                    <h3>All About Kyle</h3>
                    <p>While the job that pays me is deep-seated in Java, I'm always looking for projects that help me expand my knowledge.</p>
                    <p>as with any
                    <p class="quote">"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live." -Martin Golding</p>
                    <p>I am my own worst critic. I won't check in code that isn't as simple as possible, clean and readable, and fully tested. That just makes more work for everyone!</p>
                </div>
                <div>
                    <h3>My Resume</h3>
                    <p>Kyle, you should seriously put your resume here. Dang, son.</p>
                </div>
            </div>
            <div class="pane contact">
                <div>
                    <h3>Get in Touch</h3>
                    <p>Want to get in touch? Use the form below to shoot me an email. If forms scare you, feel free to send an email directly to KyleDSwarner (AT) gmail.com. Thanks!
                    <%= form_tag({:controller => "navbar", :action => "submitform"}) do %>
                        <%= label_tag(:name, "Your Name:") %>
                        <%= text_field(:submitter, :name) %>
                        <%= label_tag(:email, "Email:") %>
                        <%= email_field(:submitter, :email) %>
                        <%= label_tag(:phone, "Phone Number (optional):") %>
                        <%= telephone_field(:submitter, :phone) %>
                        <%= label_tag(:message, "Message:") %>
                        <%= text_area_tag(:message, "You're pretty tits.", :size => "24x6") %>
                        <%= submit_tag("Send It!") %>
                    <% end %>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <br/>
            <p>Like this page? Check out the code on my <a href="https://github.com/KyleDSwarner/KyleSwarner.com" class="bluetext">GitHub Profile</a>.</p>
            <p>&copy; Kyle Swarner 2011</p>
        </div>
    </footer>
    
    <script>
        $(function() {
        $("nav").tabs("div.navpanes > div");
        
        $(".content-wrapper").height(function() {
            var navheight = $("nav").height();
            var contentheight = $(".navcontent").height();
            var contactheight = $(".contact").height();
            
            if(contentheight > contactheight) {
                return navheight + contentheight;
            }
            else return navheight + contactheight;
            });
        });
    </script> 
    
</body>
</html>


